In [29]:
def recommend(age, budget, action, comedy):
    if (age < 18) or (budget < 10):
        return "T"
    elif action == +1:
        return "T"
    else:
        return "AH"
    
    
recommend(18, 12, -1, +1)

'AH'

In [30]:
import model

In [31]:
model.recommend(18, 10, +1, -1)

'T'

## Aside: `.apply`

In [27]:
def df_recommend(row):
    (age, budget, action, comedy) = row
    
    if (age < 18) or (budget < 10):
        return "T"
    elif action == +1:
        return "T"
    else:
        return "AH"

In [11]:
import pandas as pd

table = pd.DataFrame({
    'age': [18, 19, 30],
    'budget': [10, 190, 200],
    'action': [0, 1, 1],
    'comedy': [1, 0, 1],
})

table

   age  budget  action  comedy
0   18      10       0       1
1   19     190       1       0
2   30     200       1       1

In [28]:
table.apply(df_recommend, axis=1)

0    AH
1     T
2     T
dtype: object