# Introduction to Machine Learning Algorithms: REVIEW

### Review

* non-parametric 
    * <font color=red>kNN</font>
    * (w, b) = (X, y)
* parametric
    * $(w, b) = \dots mean(\dots X, \dots y)$
        * makes assumptions about the relationship between $X, y$
    * <font color=red>Linear Regression</font>
        * We assume a true function, 
            * $y = f(x; w, b) = wx + b$
    
* "blend"
    * neural networks, much more like non-parametric
        * remember compressed versions of data
        * (w, b) ~= compressed (X, y)

## $k$ Nearest Neighbors

In [5]:
X = [
    (180, 13), # movie_length, ticket_price
    (120, 14),
    (90, 9),
]

y = [ # like_film
    False,
    True,
    True
]

### The Algorithm

In [4]:
model = (X, y) # remember everything!

### The Prediction

In [6]:
x_new  = (100, 12.50)

$k = 2$ means, "find the 2-most-similar people",

In [7]:
k = 2

### Rank every point in the database by similarity to `x_new`,

How do we rank?

Consider the diference in runtime and price, add them up,

In [20]:
abs(100 - 180) + abs(12.50 - 13)

80.5

..this is bigger if the customer's features ($X$) are different.

In [15]:
X

[(180, 13), (120, 14), (90, 9)]

In [24]:
ranked = sorted([
    (abs(x_new[0] - runtime) + abs(x_new[0] - price), like) 
    for (runtime, price), like in  zip(X, y)
])

In [26]:
ranked # (X's similarity-to-x_new, y for that X entry)

[(101, True), (106, True), (167, False)]

### Choose $k$ points

Given they are sorted, we want the first $k$,

In [29]:
from statistics import mode

In [30]:
mode([y for rank, y in ranked[:k] ])

True

$ mode(y^0 \dots y^k)$ for $k$ smallest points ranked by $|x_0 - x_0^{new}| + |x_1 - x_1^{new}| $

Aside,

In [32]:
mode( y for x, y in sorted([
    (abs(x_new[0] - runtime) + abs(x_new[0] - price), like) 
    for (runtime, price), like in  zip(X, y)
])[:k])

True

Aside,

```sql

SELECT MODE(y)
FROM database
ORDER BY 
    ABS(x0 - xnew_0) + ABS(x1 - xnew_1)
LIMIT 2
```

## Linear Regression

In [34]:
X = [
    (180, 13), # movie_length, ticket_price
    (120, 14),
    (90, 9),
]

y = [19.3, 13.4, 9.9] # spend on sweets

In [35]:
from random import random

$ w0_{next} = w_{prev} - \lambda \frac{dL(w0)}{dw0}$

Aprox,

In [ ]:
history = []

w0, w1 = random(), random()

while True:
    yhats = [(w0 * x0 + w1 * x1) for x0, x1 in X]
    total_loss = sum([abs(obs - pred) for obs, pred in zip(y, yhats) ])
    
    w0 += 0.01 * total_loss 
    w1 += 0.01 * total_loss
    
    history.append( 
        (total_loss, (w0, w1) ) 
    )
    
#    if abs(history[-1] - history[-2]) > 1:
#        break

In [55]:
min(history)

(266.9254105537289, (3.4018099242279662, 3.331160807325204))

In [56]:
error, (w0_best, w1_best) = min(history)

In [57]:
y

[19.3, 13.4, 9.9]

In [60]:
[ w0_best * x0 + w1_best * x1 for x0, x1 in X ]

[655.6308768562616, 454.8534422099088, 336.1433404464438]